body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#progress-bar {
  width: 500px;
  height: 20px;
  background-color: purple;
  transform: scaleX(0);
  transform-origin: left;
}

#timer {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
