.book-item {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ffffff;
}

.book-item.highlighted {
  background-color: rgb(133, 224, 115);
  font-weight: bold;
}

.controls {
  margin: 20px 0;
}

.btn {
  padding: 8px 15px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
}

#addBookBtn {
  background-color: #11b416;
}

#searchBookBtn {
  background-color: #037fe4;
}
